<article class="blog" data-page="blog" id="blog">
  <header>
    <h2 class="h2 article-title">Blog</h2>
  </header>

  <section class="blog-posts">
    <ul class="blog-posts-list">
      <li class="blog-post-item">
        <a href="https://kundan-reads.readthedocs.io/en/latest/aiml/generative_ai/Genenerative_AI/">
          <figure class="blog-banner-box">
            <img src="./assets/images/blog_7.jpg" alt="Introduction to Genenerative AI" loading="lazy">
          </figure>
          <div class="blog-content">
            <div class="blog-meta">
              <p class="blog-category">Design</p>
              <span class="dot"></span>
              <time datetime="2022-02-23">Fab 23, 2022</time>
            </div>
            <h3 class="h3 blog-item-title">Introduction to Gen-AI</h3>
            <p class="blog-text">Introduction to Gen-AI</p>
          </div>
        </a>
      </li>
    </ul>
  </section>
</article>