<article class="content" data-page="content" id="content">
  <header>
    <h2 class="h2 article-title">Contents</h2>
  </header>

  <section class="about-text">
    <p>
      Teaching is an art to deliver the complex thing in the simplest way in the classroom. 
      I have taught undergraduate and postgraduate courses. You can find a selection of my teaching
       materials including all of the labs.
    </p>
  </section>
  
  <section class="projects">
    <ul class="filter-list">
      <li class="filter-item">
        <button class="active" data-filter-btn>All</button>
      </li>
      <li class="filter-item">
        <button data-filter-btn>Teaching</button>
      </li>
    </ul>

    <div class="filter-select-box">
      <button class="filter-select" data-select>
        <div class="select-value" data-selecct-value>Select category</div>
        <div class="select-icon">
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </button>
      <ul class="select-list">
        <li class="select-item">
          <button data-select-item>All</button>
        </li>
        <li class="select-item">
          <button data-select-item>Teaching</button>
        </li>
      </ul>
    </div>

    <ul class="project-list">
      <li class="project-item active" data-filter-item data-category="teaching">
        <a href="machine-learning.html">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./assets/images/Foundation_to_ML.png" alt="finance" loading="lazy">
          </figure>
          <h3 class="project-title">Foundation of Machine Learning</h3>
          <p class="project-category">Coordinated and Delivered at SOA</p>
        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="teaching">
        <a href="numerical-methods.html">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./assets/images/NM_Mathew.png" alt="finance" loading="lazy">
          </figure>
          <h3 class="project-title">Numerical methods</h3>
          <p class="project-category">Coordinated and Delivered at SOA</p>
        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="teaching">
        <a href="pattern-classification.html">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./assets/images/pattern-classification.png" alt="finance" loading="lazy">
          </figure>
          <h3 class="project-title">Pattern Classification</h3>
          <p class="project-category">Designed and Delivered at SOA</p>
        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="teaching">
        <a href="digital-image-processing.html">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./assets/images/cover_dip.png" alt="finance" loading="lazy">
          </figure>
          <h3 class="project-title">Digital Image Processing</h3>
          <p class="project-category">Designed and Delivered at SOA</p>
        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="teaching">
        <a href="Digital-filter-design.html">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./assets/images/cover_dip.png" alt="finance" loading="lazy">
          </figure>
          <h3 class="project-title">Digital Filter Design</h3>
          <p class="project-category">Designed and Delivered at SOA</p>
        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="teaching">
        <a href="Analog-filter-design.html">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./assets/images/cover_dip.png" alt="finance" loading="lazy">
          </figure>
          <h3 class="project-title">Analog Filter Design</h3>
          <p class="project-category">Designed and Delivered at SOA</p>
        </a>
      </li>
    </ul>
  </section>
</article>