<div class="sidebar-info">
  <figure class="avatar-box">
    <img src="./assets/images/profile-pic.png" alt="Kundan Kumar" width="80">
  </figure>
  <div class="info-content">
    <h1 class="name" title="Kundan Kumar">Kundan Kumar</h1>
    <p class="title_1">Ph.D., IIT Kharagpur</p>
    <p class="title_2">Data Scientist II at DCG Data-Core Systems (India) Pvt. Ltd.</p>
  </div>
  <button class="info_more-btn" data-sidebar-btn>
    <span>Show Contacts</span>
    <ion-icon name="chevron-down"></ion-icon>
  </button>
</div>
<div class="sidebar-info_more">
  <div class="separator"></div>
  <ul class="social-list">
    <li class="social-item">
      <a href="https://github.com/erkundanec" target="_blank" class="social-link">
        <ion-icon name="logo-github"></ion-icon>
      </a>
    </li>
    <li class="social-item">
      <a href="https://twitter.com/MrGoldie10" target="_blank" class="social-link">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
    </li>
    <li class="social-item">
      <a href="https://www.linkedin.com/in/erkundanec/" target="_blank" class="social-link">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
    </li>
    <li class="social-item">
      <a href="https://scholar.google.com/citations?user=AiFRaIkAAAAJ&hl=en" target="_blank" class="social-link">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </a>
    </li>
    <li class="social-item">
      <a href="https://kundan-reads.readthedocs.io/en/latest/" target="_blank" class="social-link">
        <i class="fa fa-rss-square" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <div class="separator"></div>
  <ul class="contacts-list">
    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="download-outline"></ion-icon>
      </div>
      <div class="contact-info">
        <p class="contact-title">Resume</p>
        <a href="https://drive.google.com/file/d/1_X4I18t5jRaBYukRBjpOpdneknDFlJeF/view?usp=sharing" class="contact-link">Download</a>
      </div>
    </li>
    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="mail-outline"></ion-icon>
      </div>
      <div class="contact-info">
        <p class="contact-title">Email</p>
        <a href="mailto:erkundanec@gmail.com" class="contact-link">erkundanec@gmail.com</a>
      </div>
    </li>
    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="location-outline"></ion-icon>
      </div>
      <div class="contact-info">
        <p class="contact-title">Location</p>
        <address>India</address>
      </div>
    </li>
  </ul>
</div>
